<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QGIS</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://code.jquery.com/jquery-1.12.4.min.js">
</head>
<div class="jumbotron bg-primary text-white">

<div>
    <h1 class="display-3">Hello!</h1>
        <p>
        Soil salinity is known to harm agricultural production as it decreases farm productivity and food yield. Climate change is also worsening the salinity conditions in several farmlands. By mapping soil salinity, we can identify trends, causes, and concentrations of salinity in different areas. In this app, we have remote-sensing modeling to map soil salinity. Just enter your location and you will see the ssalt crust percentage in your location and the different land types in your location throughout several years.
        </p>
        <a class="btn btn-primary btn-lg" href="map/" role="button">Lets Find the Soil Salinity!</a>

</div>

</div>

</body>
</html>